.shop-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .coffee-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
 
  .shop-container h1{
    margin-bottom: 40px;
    font-size: 2.5rem;

  }
  